# Cổng chạy server
PORT=3000

# Chuỗi bí mật ký session
SESSION_SECRET=doi-chuoi-nay

# Cấu hình database
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=chat_realtime
DB_USERNAME=root
DB_PASSWORD=
